@tailwind components;

@layer components {

    .book-content {

        @apply text-base !important;

        .book-subsection{

            @apply px-6 py-6 border bg-yellow-50 rounded-lg px-3 py-3 mx-3 my-2;

            h1 {
                @apply text-2xl pb-1 text-yellow-700;
            }
    
            h2 {
                @apply pt-3 table relative ml-2 mb-[-12px] font-bold text-xl px-3 bg-yellow-50;
            }

            h2+table,
            h2+ul,
            h2+ol{
                @apply border border-gray-700 pt-3 pb-2 px-2;

            }

            li>p{
                @apply inline;
            }

            pre{
                @apply text-xs;
            }
            
            li:has(hr),
            li:has(>img),
            li:has(>details)
            {
                @apply list-none;
            }

            hr{
                @apply my-2;
            }
        }


        ul ul,
        ol ul,
        ol ol,
        ul ol {
            @apply pl-6 text-sm;
        }

        ul > li{
            @apply list-disc;
        }

        ul  ul >  li{
            @apply list-[circle];
        }

        ul ul ul li{
            @apply list-[square];
        }

        ul ul ul ul li{
            @apply list-[circle];
        }

        ul ul ul ul ul ul li{
            @apply list-disc;
        }

        ul ul ul ul ul ul ul ul li{
            @apply list-[circle];
        }

        ul li,
        ol li {
            @apply no-underline hover:cursor-default !important;
        }

        ol > li {
            @apply list-decimal !important;
        }

        a{
            @apply underline;
        }

        

        table th,
        table td {
            @apply border text-sm text-left align-top;
        }

        table td ul {
            @apply pl-6;
        }

        table {
            @apply mx-3 my-3;
        }
    }
}