@tailwind base;
@tailwind components;

@layer components {

    .paper-card,
    .paper-detail {

        ul:not(.depth-1),
        ol:not(.depth-1) {
            @apply pl-6;
        }

        ul>li {
            @apply list-[square] list-inside;
        }

        ul.depth-2,
        ul.depth-3,
        ul.depth-4,
        ul.depth-5,
        ul.depth-6,
        ol.depth-2,
        ol.depth-3,
        ol.depth-4,
        ol.depth-5,
        ol.depth-6
        {
            @apply text-sm;
        }

        ul.depth-1>li{
            @apply list-disc;
        }

        ul.depth-2>li{
            @apply list-[circle];
        }

        ul.depth-3>li{
            @apply list-[square];
        }

        ul.depth-4>li{
            @apply list-[circle];
        }

        ul.depth-5>li{
            @apply list-disc;
        }

        ul.depth-6>li{
            @apply list-[circle];
        }

        /* to append a right bracket to 2nd order list */
        ol {
            counter-reset: list;
        }

        ol>li {
            list-style: none;
        }

        ol>li:before {
            content: "(" counter(list, numeric) ") ";
            counter-increment: list;
        }

        ol>li>ol>li:before {
            content: "(" counter(list, lower-alpha) ") ";
            counter-increment: list;
        }
        /* end: to append a right bracket to 2nd order list */

        li:has(ol:first-child) {
            @apply list-none;
        }

        p {
            @apply inline;
        }

        a {
            @apply underline text-blue-600;
        }

        hr{
            margin: 0.5rem 0;
        }
    }
}