@tailwind base;
@tailwind components;

@layer components {

    .paper-detail {

        ul:not(.depth-1),
        ol:not(.depth-1) {
            @apply pl-6;
        }

        ul>li {
            @apply list-disc list-inside;
        }

        /* to append a right bracket to 2nd order list */
        ol {
            counter-reset: list;
        }

        ol>li {
            list-style: none;
        }

        ol>li:before {
            content: "(" counter(list, numeric) ") ";
            counter-increment: list;
        }

        ol>li>ol>li:before {
            content: "(" counter(list, lower-alpha) ") ";
            counter-increment: list;
        }
        /* end: to append a right bracket to 2nd order list */

        li:has(ol:first-child) {
            @apply list-none;
        }

        p {
            @apply inline;
        }

        a {
            @apply underline text-blue-600;
        }
    }
}